html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fffbfb url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
 * Styles for the instruction boxe
 */
.instruction-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.71);
  border: 0px solid #000;
  background-color: #fff;
  padding: 0.2em 2em;
}

.heading {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 4em;
  text-shadow: 0px 5px 13px rgba(150, 150, 150, 1);
}

.sub-heading {
  text-align: center;
  color: #A10303;
  text-shadow: 0px 5px 13px rgba(150, 150, 150, 1);
}

/*
 * Styles for the Pop-up boxes
 */
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.815);
}

.game-over,
.game-start {
  width: 65%;
  margin: 5% auto;
  font-size: 1.2em;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.71);
  border: 0px solid #000;
  background-color: #fff;
  padding: 1.5em;
}

.show-star {
  text-align: center;
}

.hide-popup {
  display: none;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #599bb3;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.myButton:hover {
  background-color: #408c99;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
  text-align: left;
  width: 600px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.star {
  color: #3a8592;
  font-size: 2em;
}

.move-time-container {
  display: inline;
}

/*
 * Styles for the deck of cards
 */
.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #4de7da 0%, #bc53f8 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.card.wrong {
  cursor: default;
  background: #ee0707;
  font-size: 33px; 
}

.footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 1.5em;
}


/*********************************ANIMATION ON ELEMENTS ***********************************/

/*shake keyframe from examples at w3schools.com */
@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes pulse {
0% {
    box-shadow: 0 0 0 0 rgba(35, 187, 214, 0.4);
  }
30% {
    box-shadow: 0 0 0 10px rgba(30, 183, 194, 0.37);
}
50% {
  box-shadow: 0 0 0 20px rgba(30, 183, 194, 0.37);
}
70% {
      box-shadow: 0 0 0 10px rgba(30, 183, 194, 0.37);
  }
100% {
      box-shadow: 0 0 0 0 rgba(34, 247, 147, 0.486);
  }
}

.card.open {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition:  transform 0.5s;
}

.card.show {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition:  transform 0.5s;
}

.card.match {
 /* TODO: Add bubble animation */
 animation: pulse 0.5s;
}

.card.wrong {
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.5s;
}

/************ For Responsiveness **********/

@media only screen and (max-width: 700px) {
	.score-panel {
        width: 90%;
    }

    .move-time-container {
      display:flex;
      flex-wrap: wrap;
    }
    .deck {
        width: 95%;
        padding: 16px;
        min-height: 100vw;
    }

    .deck .card {
        width: 20vw;
        height: 20vw;
    }

    .stars {
     display:flex;
     flex-wrap: wrap;
    }

    .instruction-container {
      padding:1em;
    }

    header {
      padding:1.5em;
    }
    .heading {
      font-size: 2.5em;
    }

    .game-start,
    .game-over {
    width:95%;
    }

    .game-start >.heading,
    .game-over >.heading {
      font-size: 2em;
      margin:0;
    }

    .game-start >.sub-heading,
    .game-over >.sub-heading {
      font-size: 1em;
    }
}

@media only screen and (max-width: 1024px) {
    .score-panel {
        font-size: 20px;
    }
}
