html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #17181a; */
  background: #fffbfb url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
 * Styles for the instruction boxe
 */
.instruction-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.71);
  border: 0px solid #000;
  background-color: #fff;
  padding: 0.2em 2em;
}

.heading {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 4em;
  text-shadow: 0px 5px 13px rgba(150, 150, 150, 1);
}

.sub-heading {
  text-align: center;
  color: #A10303;
  text-shadow: 0px 5px 13px rgba(150, 150, 150, 1);
}

/*
 * Styles for the Pop-up boxes
 */
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.815);
  /********************************************************** testing *************************************/
  /* display: none; */
}

.game-over,
.game-start {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin: 5% auto;
  font-size: 1.2em;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.71);
  border: 0px solid #000;
  background-color: #fff;
  padding: 1.5em;
}

.show-star {
  text-align: center;
}

.hide-popup {
  display: none;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #599bb3;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.myButton:hover {
  background-color: #408c99;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
  text-align: left;
  width: 600px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.star {
  color: #3a8592;
  font-size: 2em;
}

/*
 * Styles for the deck of cards
 */
.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #4de7da 0%, #bc53f8 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.card.wrong {
  cursor: default;
  background: #ee0707;
  font-size: 33px;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 1.5em;
}